language: generic
sudo: required
cache:
  timeout: 600
  directories:
  - $HOME/.cargo
services:
  - docker
jobs:
  include:
    - stage: Build
      script:
        - docker pull cita/cita-build:ubuntu-18.04-20180523
        - bash '.ci-scripts/format'
        - bash '.ci-scripts/test' && bash '.ci-scripts/coverage'
before_cache:
    - sudo chown -R travis:travis $HOME/.cargo
